<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title-BBBBBBBBBBBBBBB</title>
</head>
<body>
    <div>
        <p>--layout page</p>
        @RenderBody()
    </div>
</body>
</html>
